<div id="footer">
	
	<div id="footer-img-container">
		<!-- <img id="footer-img" src="img/visa_mastercard.png"/> -->
		<img class="social-img" src="img/facebook.svg" href="https://www.facebook.com/willlllllllllllllllllllllllll/m">
		<img class="social-img" src="img/instagram.svg" href="https://www.instagram.com/abrahamlincoln420/">
	</div>

	<script>
		
	</script>
</div>