<!DOCTYPE html>
<html>
<head>
	<title>lonesomefiddles</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/model.js"></script>
	<script src="js/util.js"></script>
	<script src="js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/skeleton.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
</head>
<body>
	<%- include('header.ejs') %>
	<%- include('navigation.ejs') %>


	<section>
		<div id="main-section">
			<p>Hello and welcome to my website. My name is Will Kung and I am a human being currently residing in Denver, Colorado. I am a professional software engineer and an amateur musician. <span id="about-me" class="more-button"><b>More About Me</b></span></p>

			<p class="center-quote"><i>"Write this down, Take a little note to remind you in case you didn't know"</i> - <b>George Strait</b></p>

			<p>I created lonesomefiddles in an effort to document the thoughts, ideas, and epihanies that come to me during my brief, random bursts of clarity and creativity. In addition to chronicling my String Cheese Incident adventures, . </p>






			<div id="keep-the-dream">Keep The Dream Alive!</div>
			<b>Hot Takes</b>
			Getting married at a music festival is cringe level midnight

			Take Time to Give Thanks, Make Time to be Givin'


			<!-- Today I am 
				<span id="age" class="code-example"></span> 
				old. -->
		</div> 
	</section>


	<%- include('footer.ejs') %>

</body>

<script type="text/javascript">
	var age = whatsMyAgeAgain();
	$("#age").text(age);
</script>

</html>