<!DOCTYPE html>
<html>
<head>
	<title>Slidewok | Denver, CO</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/model.js"></script>
	<script src="js/util.js"></script>
	<script src="js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/music.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/skeleton.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
</head>
<body>
	<%- include('navigation.ejs') %>


	<section id="main">
		<h3>DEMOS</h3>




		<table>
			<tr>
				<th>
					<div class="demo-title">Denver Practice Session - 3/24/2023</div>
					<div class="demo-notes">Recorded with 2 overhead condensor mics. Hush FTP with correct chords. Higher State of Mind with Will trying out vocals. Ricky teased Mary had a little lamb during Fight the Power.</div>

				</th>
				<th></th>
			</tr>

			<tr>
				<td>
					<div class="song-title">Hush</div>
					<div class="song-notes">Take 3</div>
				</td>
				<td>
				<div class="audio-container"><audio controls><source src="https://drive.google.com/uc?id=1lPeNkQlkn3jKH7WsmT4c-oM4zHCQIEpr" type="audio/mpeg"> </audio>
				</div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="song-title">Millie's Song</div>
					<div class="song-notes">Bad version in D (slow and sloppy)</div>
				</td>
				<td>
				<div class="audio-container"><audio controls><source src="https://drive.google.com/uc?id=11ywahizhk9kt_YV2-EnhSmdZ7DdtZTRY" type="audio/mpeg"> </audio>
				</div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="song-title">Higher State of Mind</div>
					<div class="song-notes">Will on Vocals</div>
				</td>
				<td>
				<div class="audio-container"><audio controls><source src="https://drive.google.com/uc?id=1v0D1D8mYl5U8VJocqx41-w2jQWiubsou" type="audio/mpeg"> </audio>
				</div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="song-title">Back in Love</div>
					<div class="song-notes"></div>
				</td>
				<td>
				<div class="audio-container"><audio controls><source src="https://drive.google.com/uc?id=1mN8atjVcFr1KEuRSn6d2frRxWnwya082" type="audio/mpeg"> </audio>
				</div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="song-title">Fight the Power</div>
					<div class="song-notes">Mary had a tiny fuckin lamb</div>
				</td>
				<td>
				<div class="audio-container"><audio controls><source src="https://drive.google.com/uc?id=1b0lfipG5wD42MhCClfkAhivCEMqbkSVw" type="audio/mpeg"> </audio>
				</div>
				</td>
			</tr>
		

		</table>

	</section>


	<%- include('footer.ejs') %>

</body>

<script type="text/javascript">
	
</script>

</html>