<!DOCTYPE html>
<html>
<head>
	<title>lonesomefiddles</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/model.js"></script>
	<script src="js/util.js"></script>
	<script src="js/projects.js"></script>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/projects.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/skeleton.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
</head>
<body>
	<%- include('navigation.ejs') %>


	<section>
		<div id="main-section">
			<div class="title">SETLIST TRACKER</div>
			<div class="description">This is a proof of concept </div>
			<div id="setlist-tracker">
				<div id="setlist-parent-container">
					<b><div id="setlist-title"></div></b>
					<span id="setlist-date-long"><b></b></span><span id="setlist-location"><b></b></span>
					
					<!-- audio -->
					<div id="audio-container">
						<span id="nugs-link"></span>,
						<span id="archive-link"></span>
					</div>
						<div id="setlist-container"></div>
						<div id="setlist-notes"><span><b>notes: </b></span></div>
					</div>
				
				<div class="description">New songs added to a setlist are automatically indexed in the <span class="code-block">SONGS</span> collection and given a unique id. Click a song link from the setlist above to display song information.</div>

				<div id="song-container">
					<div id="song-title"></div>
					<span id="song-metadata-container">
						<table id="song-info-table">
							<tr>
								<td class="song-info-k">Author:</td>
								<td  id="song-info-author" class="song-info-v"></td>
							</tr>
								<td class="song-info-k">Last Time Played:</td>
								<td id="song-info-ltp" class="song-info-v"></td>
							</tr>
								<td class="song-info-k">Play Count:</td>
								<td id="song-info-play-count" class="song-info-v"></td>
							</tr>
							</tr>
								<td class="song-info-k">Average Gap:</td>
								<td id="song-info-average-gap" class="song-info-v"></td>
							</tr>
								<td class="song-info-k">Setlists:</td>
								<td id="song-info-setlists" class="song-info-v"></td>
							</tr>
							
						</table>
					</span>
					<div id="no-song-info">No song information available.</div>
				</div><!-- song container -->

				<div class="title">DATABASE DESIGN</div>
				<div class="description">Ok nerds, here is a high level overview of how this data is structured in MongoDB. With MongoDB (and other document-oriented databases), data is stored as <b>documents</b>, which are gathered together in <b>collections</b>. I chose MongoDB over a more traditional SQL (relational database) approach because of less overhead, more versatility, and easier integration with the technology stack used in this app (Node.js, Express). This is an entry in the  <span class="code-block">SETLISTS</span> collection for the setlist above: </div>


				<div class="row">
					<div id="setlist-code" class="code">
						<div class="code-title code-block">SETLISTS</div>

						<table class="sample-collection-table">
							<tr>
								<td class="code k">
									id: 
								</td>
								<td class="code v">
									1001
								</td>
							</tr>
							<tr>
								<td class="code k">
									dateLong: 
								</td>
								<td class="code v">
									Tue Sept 5, 2013
								</td>
							</tr>
							<tr>
								<td class="code k">
									dateShort: 
								</td>
								<td class="code v">
									9/5/2013
								</td>
							</tr>
							<tr>
								<td class="code k">
									location: 
								</td>
								<td class="code v">
									Arington, VA
								</td>
							</tr>
							<tr>
								<td class="code k">
									title: 
								</td>
								<td class="code v">
									Thurs Sept 5, 2013
								</td>
							</tr>
							<tr>
								<td class="code k">
									notes: 
								</td>
								<td class="code v">
									*With Keller Williams 
								</td>
							</tr>
							<tr>
								<td class="code k">
									setlist: 
								</td>
								<td class="code v">
									[{"identifier" : "Set 1"},<br>
										{"song" : <br> &nbsp; &nbsp;{
											"id" : 1001,
											"name" : Desert Dawn
										}<br>},<br>
										{"identifier" : ","}, <br>
										{"song" : <br> &nbsp; &nbsp;{
											"id" : 1002,
											"name" : Black and White
										}<br>},<br>
										{"identifier" : ">"}, <br>
										{"song" : <br> &nbsp; &nbsp;{
											"id" : 1003,
											"name" : So Far From Home
										}<br>}] ...
								</td>
							</tr>	
						</table>
					</div>			
				</div>
				

				<div class="description">The <span class="code-block">setlist</span> field is an mixed array that contains one of two data types: a <b>SONG</b> object, or an <b>IDENTIFIER</b>, which denotes set headings (e.g. 'Set 1', 'Encore') and transitions between songs (',' or '>').<br><br>
					Next, let's take a look at the <span class="code-block">SONGS</span> collection:
				</div>


				<div class="row">

					<div id="setlist-code" class="code">
						<div class="code-title code-block">SONGS</div>

						<table class="sample-collection-table">
							<tr>
								<td class="code k">
									id: 
								</td>
								<td class="code v">
									1001
								</td>
							</tr>
							<tr>
								<td class="code k">
									name: 
								</td>
								<td class="code v">
									Desert Dawn
								</td>
							</tr>
							<tr>
								<td class="code k">
									author:
								</td>
								<td class="code v">
									Kang
								</td>
							</tr>
							<tr>
								<td class="code k">
									ltp:
								</td>
								<td class="code v">
									9/5/2014
								</td>
							</tr>
							<tr>
								<td class="code k">
									setlists
								</td>
								<td class="code v">
									["1001,", "1096", "2451"] ...
								</td>
							</tr>
						
						</table>
					</div>


					<div class="description">Here, the <span class="code-block">setlists</span> field is an array of setlist ids. When new setlists are added to the <span class="code-block">SETLISTS</span> collection, the <span class="code-block">SONGS</span> collection is updated by appending the new <span class="code-block">setlist.id</span> to the <span class="code-block">setlists</span> field for each song in the setlist.
				</div>



				</div>


				
			</div>
			<!-- <div id="stats-tracker" class="nav-item">
				Show Review
			</div> -->
			



		</div> <!-- main section-->



	</section>


	<%- include('footer.ejs') %>

</body>

<script type="text/javascript">
</script>

</html>