#main{
	margin-top:50px;
	margin-bottom:100px;
	max-width: 960px;
	margin-left: auto;
	margin-right:auto;
}

.song-title{
	font-size: 12px;
	font-weight: bold;
}

.song-notes{
	font-size: 10px;
}

.demo-notes{
	font-weight: normal;
	font-size: 10px;
	max-width: 250px;
}

.demo-title{

}
