/*	dark brown:
	#3c2415;

	mid brown: 
	#603913;

	lite brown: 
	#d3b297;

	yellow:
	#ffde17;

*/

body{
	width:100%;
	margin:0;
	padding:0;
	overflow-x:hidden;
}

html,body{
	overflow-x: hidden;
}

h3{
	font-size:	16px;
}

h4{
	font-size:14px;
}

h5{
	font-size:	12px;
}

h6{
	font-size:8px;
}

.code *{
	font-size: 11px;
	font-family: 'Roboto Mono', monospace;
}

.code-block{
	font-size: 11px;
	font-family: 'Roboto Mono', monospace;
	background: #eee;
	padding:2px 5px;
	display:inline-block;
}


.center-quote{
	width:70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 17px;
}

#keep-the-dream{
	color:#265ea5;
	font-weight: bold;
	width:100%;
	text-align:center;
}

#main-section{
	max-width: 960px;
	font-size: 14px;
	margin-top:20px;
	margin-bottom:50px;
	width:60%;
	margin-left:auto;
	margin-right:auto;
}

#logo{
	margin-top:10px;
	width:320px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.link-text{
	font-family: 'Coming Soon', cursive !important;
	font-weight:900;
	font-size:16px;
	color:	#3c2415 !important;
}

#menu{
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.menu-item{
	cursor:pointer;
	margin-left:auto;
	margin-right:auto;
	margin:10px 25px;
	display:inline-block;
	text-align:center;
}

.menu_item:hover{
	opacity:0.6;
	transition:0.3s;
}

.link_no_underline:hover{
	color:#444;
}

.link_no_underline{
	text-decoration: none;
	color:#444;
}

#footer-img-container{
	display:inline-block;
}

.social-img{
	width:30px;
	height:30px;
	margin-top:10px;
	margin-left:2px;
	margin-right:2px;
}

#header{
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
	background:#ffde17;
}

#header-content{
	text-align: center;
	color:#3c2415;
	font-weight: bold;
	font-size: 16px;
	max-width:960px;
	margin:auto;
}

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffde17;
  color: white;
  height:50px;
  text-align: center;
}

#footer-content{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	color:#3c2415;
	font-weight: bold;
	font-size: 16px;
	width:100%;
	max-width:960px;
}

#footer-img{
	height:30px;
	margin-top:10px;
}


@media (max-width: 650px) {
	.menu-item{

	}

	@media (max-width: 850px) {
	#main-section{
		width:90%;
	}
	
}

